.cellListWidget {
  color: black;
  padding: 0px;
}

.cellListEvenItem {
  cursor: pointer;
  font-size: 20px;
  zoom: 1;
}

.cellListOddItem {
  cursor: pointer;
  font-size: 20px;
  zoom: 1;
}

.cellListKeyboardSelectedItem {
  background: #f00;
}

/* @sprite */
.cellListSelectedItem {
/*  gwt-image: none; */
/*  background-color: #ee8811; */
  background-color: #ee8888;
  color: white;
  height: auto;
  overflow: visible;
}

 