/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1#logo {
  font-size: 2em;
  font-weight: bold;
  color: #f81;
  margin: 0px 0px 0px;
  text-align: left;
}
.filterLabel {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding-top: 3px;
	margin-left: 2px;
	margin-right: 2px;
}

.filterLabelUnselected {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	height: 18px;
	padding-top: 2px;
	margin-top: 1px;
	margin-right: 4px;
}
.filterLabelSelected {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	height: 16px;
	padding-top: 0px;
	margin-top: 1px;
	margin-right: 2px;
}
.filterLabelDisabled {
	font-size: 12px;
	font-weight: bold;
	color: #bfbfbf;
	height: 18px;
	padding-top: 2px;
	margin-top: 1px;
	margin-right: 4px;
}
.filterIconEnabled {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 4px;
	border: 0px;
}
.filterIconDisabled {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 4px;
	border: 0px;
}
.filterHeader {
	padding: 1px;
	border: 1px solid silver;
	background-color: black;
	width: 100%;
	margin-bottom: 5px;
}

.categoryList {
	border: 1px solid silver;
	margin-left: 1px;
	margin-right: 1px;
	width: 200px;
}

.styleList {
	border: 1px solid silver;
	margin-left: 1px;
	margin-right: 1px;
	width: 150px;
}

.sizeList {
	border: 1px solid silver;
	margin-left: 1px;
	margin-right: 1px;
	width: 150px;
}

.articleTypeList {
	border: 1px solid silver;
	margin-left: 1px;
	margin-right: 1px;
	width: 300px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#itemType {
	color: ff0000;
}

.categoryUnselected {
	font-size: 20px;
	font-weight: bold;
	padding: 7px;
}
.categorySelected {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 5px;
}
.categoryMtrs {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #2B3781;
}
.articleCell {
	border-collapse: collapse;
	margin: 3px;
}
.articleIconTd {
	width: 51px;
	height: 51px;
	vertical-align: middle;
	text-align: center;
	padding-top: 1px;
}
.articleIconImage {
	width: 45px;
	height: 45px;
	border: 1px solid silver;
	padding: 1px;
	margin: 0px;
}
.articleUpLe {
	text-align: center; 
	width: 100px;
	height: 25px;
	border-bottom: 1px solid silver;
}
.articleUpCe {
	text-align: center; 
	width: 100px;
	height: 25px;
	border-bottom: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid silver; 
}
.articleUpRi {
	text-align: center;
	width: 100px;
	height: 25px;
	border-bottom: 1px solid silver; 
}
.articleBoLe {
	text-align: center;
	width: 100px;
	height: 25px;
}
.articleBoCe {
	text-align: center;
	width: 100px;
	height: 25px;
	border-left: 1px solid silver;
	border-right: 1px solid silver; 
}
.articleBoRi {
	text-align: center;
	width: 100px;
	height: 25px;
}
.articlePrice {
	text-align: right;
	font-size: 20px;
	width: 100px;
	height: 50;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
