.contentHeader {
	padding: 3px;
	border: 1px solid silver;
	background-color: #777777;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.navigationPanel {
	padding-left: 10px;
}

.filterPanel {
	overflow: hidden;
	position: relative;
	zoom: 1;
	width: 160px;
}
.sizePanel {
	width: 220px;
}
.sizeLeftPanel {
	width: 110px;
	padding-right: 4px;
}
.sizeRightPanel {
	width: 110px;
	padding-left: 4px;
}
.simpleFilterTable {
	width: 160px;
}
.filterTable {
	height: 20px;
	padding-top: 0px;
	padding-bottom 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 1px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
}
.filterRowUnselected {
	border: 0px solid #CCC;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 2px;
}
.filterRightRowUnselected {
	padding-right: 4px;	
}
.filterMiddleRowUnselected {
	
}
.filterRowSelected {
	border-top: 2px;
	border-bottom: 2px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #8D511F; 
	background-color: #D68543;
	padding-left: 2px;
}
.filterMiddleRowSelected {
	border-right: none;
}
.filterRightRowSelected {
	border-right: 2px;
	border-style: solid;
	border-color: #8D511F;
	padding-right: 2px; 
}
.filterRowIcon {
	border: 0px solid #CCC;
	font-size: 5px;
	width: 22px;
	height: 20px;
}
.filterLabel {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding-top: 3px;
	margin-left: 2px;
	margin-right: 2px;
}
.attributeFilterLabel {
	width: 101px;
	cursor: pointer;
	cursor: hand;
}
.categoryFilterLabel {
	width: 120px;
}
.filterText {
	font-size: 12px;
	font-weight: bold;
}
.filterAmountUnselected {
	text-align: right;
	width: 30px;
	color: #000;
}
.filterLabelUnselected {
	color: #000;
	width: 95px;
	height: 18px;
	padding-left: 2px;
	padding-top: 2px;
	margin-top: 1px;
	margin-right: 4px;
}
.filterAmountSelected {
	text-align: right;
	width: 30px;
	color: #fff;
}
.filterLabelSelected {
	color: #fff;
	width: 95px;
	height: 16px;
	padding-top: 0px;
	padding-left: 2px;
	margin-top: 1px;
	margin-right: 2px;
}
.filterLabelDisabled {
	color: #bfbfbf;
	width: 90px;
	height: 18px;
	padding-left: 2px;
	padding-top: 2px;
	margin-top: 1px;
	margin-right: 4px;
}
.filterIconEnabled {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 0px;
}
.filterIconDisabled {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 0px;
}
.filterHeader {
	padding: 1px;
	border: 1px solid silver;
	background-color: #777;
	width: 100%;
	height: 36px;
	margin-bottom: 5px;
}

.categoryList {
	border: 1px solid silver;
	margin-left: 1px;
	margin-right: 1px;
}

.styleList {
	border: 1px solid silver;
	margin-left: 1px;
	margin-right: 1px;
	width: 150px;
	padding: 1px;
}

.articleTypeList {
	border: 1px solid silver;
	margin-left: 1px;
	margin-right: 1px;
	width: 500px;
}

.categoryUnselected {
	font-size: 20px;
	font-weight: bold;
	padding: 7px;
}
.categorySelected {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 5px;
}
.articleCell {
	border-collapse: collapse;
	margin: 3px;
}
.articleIconTd {
	width: 51px;
	height: 51px;
	vertical-align: middle;
	text-align: center;
	padding-top: 1px;
}
.articleIconImage {
	width: 45px;
	height: 45px;
	border: 1px solid silver;
	padding: 1px;
	margin: 0px;
}
.articleUpLe {
	margin: 0px;
	padding: 0px;
	text-align: center; 
	width: 100px;
	height: 25px;
	border-bottom: 1px solid silver;
	overflow-y: auto;
}
.articleUpCe {
	margin: 0px;
	padding: 0px;
	text-align: center; 
	width: 100px;
	height: 25px;
	border-bottom: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid silver; 
	overflow-y: auto;
}
.articleUpRi {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100px;
	height: 25px;
	border-bottom: 1px solid silver; 
	overflow-y: auto;
}
.articleBoLe {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100px;
	height: 25px;
	overflow-y: auto;
}
.articleBoCe {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100px;
	height: 25px;
	border-left: 1px solid silver;
	border-right: 1px solid silver; 
	overflow-y: auto;
}
.articleBoRi {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100px;
	height: 25px;
	overflow-y: auto;
}
.articlePrice {
	text-align: right;
	font-size: 20px;
	width: 75px;
	height: 50;
}
.articleAmount {
	text-align: right;
	font-size: 20px;
	width: 40px;
	height: 50;
}
.pricePrefix {
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	padding-top: 2px;
	width: 20px;
	height: 14px;
}
.baseInput {
	font-size: 12px;
	height: 14px;
}
.priceInput {
	width: 80px;
}
.nameSuggestBox {
	margin: 2px 0px 2px 2px;
	padding: 3px 0px 3px 3px;
	border-top: 1px solid #999;
	border-left: 1px solid #CCC;
	border-right: 0px;
	border-bottom: 1px solid #CCC;
	font-size: 100%;
	font-family: Arial Unicode MS, Arial, sans-serif;
	width: 200px;
}

.clearNameFilterButton {
	margin: 2px 2px 2px 0px;
	padding: 3px 7px 3px 7px;
	background-color: #fff;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: small;
	border-top: 1px solid #999;
	border-bottom: 1px solid #CCC;
	border-left: 0px;
	border-right: 1px solid #CCC;
	height: 24px;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.errorText {
	color: red;
	font-weight: bold;
}
.buttonShowTools {
	margin: 2px;
	padding: 0px;
	border: 1px inset #CCC;
	width: 23px;
	height: 23px;
}
.buttonShowTools:hover {
	border-color: #939393;
}
.buttonMinMax {
	margin: 2px;
	padding: 0px;
	border: 1px inset #CCC;
}
.buttonMinMax:hover {
	border-color: #939393;
}
.buttonTool * div {
	margin: 1px;
	padding: 0px;
	border: 1px inset #CCC;
	background-color: #d4d0c8;
	width: 10px;
	height: 11px;
}
.buttonTool:hover * div {
	border-color: #939393;
}
.editSize * input {
	width: 40px;
}
.editFilter * input {
	width: 80px;
}
.iconToolButton {
	margin: 0px;
	padding: 0px;
}
table.toolGrid {
	margin: 0px;
	padding: 3px 0px;
	width: 30px;
}
table.toolGrid * td {
	border: 0px;
	width: 10px;
	height: 10px;
	font-size: 1px;
}
.toolPanel {
	margin: 1px;
	padding: 0px;
}
.dialogHeader {
	font-size: 20px;
	font-weight: bold;
}
.leftDialogButton {
	align: left;
}
.rightDialogButton {
	align: right;
}

.floatingNotepad {
	position: absolute;
	right: 0px;
	top: 100px;
}
.editBulkChanged {
	background: #D68543;
}
