.cellListWidget {
	
}

.cellListEvenItem {
	cursor: pointer;
}

.cellListOddItem {
	cursor: pointer;
	background-color: #f4f4f4;
}

.cellListKeyboardSelectedItem {
	background: #fea;
}

/* @sprite */
.cellListSelectedItem { /*  gwt-image: none; */
	background-color: #ccc;
	overflow: visible;
}
