<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>articleTypeServlet</servlet-name>
		<servlet-class>com.xfashion.server.ArticleTypeServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sticker</servlet-name>
		<servlet-class>com.xfashion.pdf.Sticker</servlet-class>
	</servlet>
  
  	<servlet-mapping>
		<servlet-name>articleTypeServlet</servlet-name>
		<url-pattern>/xfashion/articleType</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>sticker</servlet-name>
		<url-pattern>/pdf/sticker</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Xfashion.html</welcome-file>
	</welcome-file-list>

</web-app>
